footer{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    background-color: black;
    color: white;
    padding: 150px 0 0 150px;
}

.logo2{
    color: white;
    padding: 0 0 50px 0;
}
.logo2Image{
    color: white;
}

.compact-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1; /* Espaçamento reduzido */
    margin: 0;
    padding: 0;
    width: 300px;
}
