footer{
    display: flex;
    flex-direction: column;
    min-height: 50vh; 
    margin: 0;
    background-color: black;
    color: white;
    padding: 150px 0 0 150px;
    cursor: pointer;
}

.logo2{
    color: white;
    padding: 0 0 50px 0;
}
.logo2Image{
    color: white;
}
.Lorem{
    width: 300px;
}
.face, .insta, .twitter{
    display: inline-block; /* Faz as imagens ficarem lado a lado */
    margin-right: 2px; /* Espaçamento entre as imagens */
    width: 50px; /* Ajuste o tamanho */
    height: auto; /* Mantém a proporção */ 
    padding: 40px.0.0.0;
}
.coluna-1, .coluna-2, .coluna-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: red;
}
.copyright{
    text-align: center;
}